# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# IDE
.idea
.DS_Store

# Logs
*.log

# Node
node_modules/

# Testing
.pytest_cache/
.coverage
htmlcov/
/test-results/
/playwright-report/

# Database
*.db

# OS
.DS_Store
